
    <h1>About Us</h1>
    <p1 id="aboutfont">omgsyed production company specializes in creating high-definition videos, utilizing software and other computer-aided design equipment in order to produce them. Our production is to help people who are looking for a videographer or a photographer to help them capture the memories of their weddings, events or help them film/edit their music video. Our production company also offers services such as creating flyers for their business or implementing basic editing on their media.  </p1>
