<div id="footer" style="background-color:#D2B48C;">
<div align="center">
    <h4> 2020 - All content copyrighted @omgsyedproductions </h4>
    <h4 id="terms">
        <a href="/privacy">  Privacy </a> 
     <a href="/help"> Help </a> 
           </h4> 
    </div>
</div>

