<table> <tr>
	<td width='20%' >
		<a href="/"> 
      <header>
<img src="images/logo.png" width="500" height="190"> 
      </header>

<ul>
        <li> <a href="/"> Home </a></li>
        <li> <a href="/about"> About Us </a></li>
        <li> <a href="/contact"> Contact Us </a></li>

</ul>