<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>omgsyedproductions</h1>
    <p>We provide nothing but high quality service through a combination of both passion and experience to capture your most wonderful creation, memories, and moments. </p>
  </body>
</html>
