<!DOCTYPE html>
<html>
  <head>
    <title>Home - omgsyedproductions</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      
  </head>
  <body>
          
      
    <h3>We provide nothing but high quality service through a combination of both passion and experience to capture your most wonderful creation, memories, and moments. </h3>
        
 <p> Date: <%= Date(Date.now()).toString() %> </p>

  </body>
      
</html>
