<h1> Privacy Policy </h1>
<h3>Personal information which may fall under the policy may include but is not limited to:

<p>Usernames and passwords</p>
<p>Technical support records</p>
<p>Credit history/performance information</p>
<p>How much is spent on our services and that of our competitors</p>
<p>Industry or business, number of employees</p>
<p>Credit card information, language preferences</p>
<p>Internet protocol address and time stamps</p>
<p>Payment and banking information</p>
<p>Special needs</p>
    
    </h3>